<html>
	<p>Dear {{ email.split('@')[0] }}</p>

	<p>This message confirms your account was successfully created.</p>

	Before you can access ***REMOVED***, you must activate your account at *<b><a href="https://script.google.com/macros/s/***REMOVED***/exec?op=activate&key={{key}}">HERE</a></b><br>
	<i><b>*Link expire in 10mins, request again if expires</b></i></p>

	<p>Once you completed your activation, you can log in to <a href="***REMOVED***"><b>GUACAMOLE</b></a>

	<p>If you have any issues or questions, try harder...<br>
	Thank you for your interest in ***REMOVED***</p><br>
	<br>

	Regards,<br>
	Automated Assistant <b>Shadowman</b>
</html>

